<div class="wrapper fadeInDown">
  <div id="formContent">
    <br>
    <div class="fadeIn first">
      <h1>Register New Account</h1>
    </div>
    <br>
    <!-- Login Form -->
    <form action="/person" method="POST">
      <input type="text" class="fadeIn second" name="name" placeholder="name">
      <input type="text" class="fadeIn third" name="age" placeholder="age">
      <input type="text" class="fadeIn third" name="nationality" placeholder="nationality">
      <input type="submit" class="fadeIn fourth" value="Register">
    </form>

    <!-- Remind Passowrd -->
    {{!-- <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div> --}}

  </div>
</div>
