<div class="wrapper fadeInDown">
  <div id="formContent">
    <br>
    <div class="fadeIn first">
      <h1>Register New Account</h1>
    </div>
    <br>
    <!-- Login Form -->
    <form>
      <input type="text" id="nrp" class="fadeIn second" name="nrp" placeholder="Nrp">
      <input type="text" id="name" class="fadeIn third" name="name" placeholder="Name">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Register">
    </form>

    <!-- Remind Passowrd -->
    {{!-- <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div> --}}

  </div>
</div>
